.info > img {
  width: 350px;
  border-radius: 20px 20px 0 0;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #1a1b21;
  color: #f5f5f5;
}

.info > h2 {
  margin: 15px 0 5px 0;
  font-size: 25px;
}

.info > .job-title {
  margin: 0;
  font-size: 13px;
  color: #f3bf99;
}

.info > .website {
  margin-top: 13px;
  font-size: 13px;
}

.buttons > button {
  padding: 10px 5px;
  border-radius: 5px;
  width: 110px;
  height: 35px;
  margin: 20px 10px;
}

.linkedin-button {
  background-color: #5093e2;
  color: #fff;
  border: none;
}
