.footer {
  background-color: #161619;
  padding: 2rem;
  border-radius: 0 0 20px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  filter: invert(1);
}
/* .footer img:hover {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(200deg);
} */
